body {
    margin: 0;
    background: #FFE840;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
img {
    max-width: 100%;
}
.link,
a {
    position: relative;
    padding-bottom: 5px;
    text-decoration: none;
}
.link:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #ffe840;
    transition: width .3s ease-in-out;
}
a:hover { 
    color: #000;
    text-decoration: none;
}
.link:hover:after {
    width: 100%;
}
.container {
    position: relative;
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}


header {
    min-height: 100vh;
    text-align: center;
}

.me {
    padding: 25px;
}

.circle{
    border-radius: 50%;
}
header .down {
    display: inline-block;
    margin-top: 30px;
    
}
h1 {
    margin: 15px 0;
    font-size: 3em;
}
p {
    margin-top: 0;
    margin-bottom: 10px;
}
p.subtitle {
    font-size: 1.3em;
    font-style: italic;
}
.works,
.skills,
#contacts {
    padding: 80px 0;
    color: #fff;
    background: #7A45D6;
}
h2 {
    margin-bottom: 60px;
    font-size: 1.9em;
    text-align: center;
}

#contacts a {
    flex-direction: column;
}
footer .d-flex,
.courses .d-flex,
.works .d-flex,
.code-example .d-flex,
.skills .d-flex,
#contacts .d-flex{
    justify-content: space-between;
}
#contacts .item {
    margin-bottom: 30px;
}
#contacts .item span {
    display: block;
    margin: 10px 0;
    color: #ffe840;
}
.text-center {
    text-align: center;
}
.skills {
    text-align: center;
    background: #212121;
}
.skills img {
    height: 50px;
    margin-bottom: 8px;
}
.skills .item {
    width: 25%;
    margin-bottom: 30px;
}
.courses,
.code-example {
    padding: 80px 0;
}
.code-example .item {
    width: 45%;
}
pre {
    margin: 10px 0;
    padding: 15px;
    background: #eee;
}
h3 {
    margin-bottom: 10px;
}
.works a {
    width: 31%;
    margin-bottom: 30px;
}
.courses .container {
    width: 750px;
}
footer {
    padding: 25px 0 10px;
    color: #fff;
    background: #212121;
}
footer .github {
    display: flex;
    align-items: center;
    color: #fff;
}
footer .github img {
    margin-right: 7px;
}